.user-list::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

.user-list::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.user-list:hover::-webkit-scrollbar-thumb {
  background: #bcc0c4;
}